<div class="col-md-3 cards">
                <div class="card gedf-card">
                    <div class="card-body">
                        <div class="h5">Friends</div>
                        <div class="d-flex justify-content-start align-items-center friend-state friends-box">
                                <div>
                                    <img class="rounded-circle friends-image" src="https://picsum.photos/80/80/?random?image=11" width="30" alt="">
                                </div>
                                <a href="/profile/1"><div class="ml-2 h7 fcLink">
                                    Puffy Puppy
                                </div></a>
                                <div class="ml-2 state"></div>
                        </div>
                    </div>
                    {{! Have to innerJoin the above code if the user have multiple friends}}
                    <div class="card-body cb-next">
                        <div class="d-flex justify-content-start align-items-center friend-state friends-box">
                                <div>
                                    <img class="rounded-circle friends-image" src="https://picsum.photos/80/80/?random?image=11" width="30" alt="">
                                </div>
                                <a href="/profile/2"><div class="ml-2 h7 fcLink">
                                    Puffy Puppy
                                </div></a>
                                <div class="ml-2"></div>
                        </div>
                    </div>
                    <div class="card-body cb-next">
                        <div class="d-flex justify-content-start align-items-center friend-state friends-box">
                                <div>
                                    <img class="rounded-circle friends-image" src="https://picsum.photos/80/80/?random?image=11" width="30" alt="">
                                </div>
                                <a href="/profile/3"><div class="ml-2 h7 fcLink">
                                    Puffy Puppy
                                </div></a>
                                <div class="ml-2"></div>
                        </div>
                    </div>
                    <div class="card-footer p-2">
                        <div class="d-flex justify-content-center">
                            <div class="ml-2 h7">
                                    <a href="#">Show More Friends...</a>
                            </div>
                        </div>
                        
                    </div>

                </div>
                
                <!-- ////// -->

                <div class="card gedf-card">
                    <div class="card-body">
                        <div class="h5">Community</div>
                        <div class="d-flex justify-content-start align-items-center friend-state friends-box">
                                <div>
                                    <img class="rounded-circle friends-image" src="/uploads/cat.jpg" width="30" height="30" alt="">
                                </div>
                                <a href="/community/1"><div class="ml-2 h7 fcLink">
                                    Cat
                                </div></a>
                        </div>
                    </div>
                    {{! Have to innerJoin the above code if the user have multiple friends}}
                    <div class="card-body cb-next">
                        <div class="d-flex justify-content-start align-items-center friend-state friends-box">
                                <div>
                                    <img class="rounded-circle friends-image" src="/uploads/dog.jpg" width="30" height="30" alt="">
                                </div>
                                <a href="/community/2"><div class="ml-2 h7 fcLink">
                                    Dog
                                </div></a>
                        </div>
                    </div>
                    <div class="card-body cb-next">
                        <div class="d-flex justify-content-start align-items-center friend-state friends-box">
                                <div>
                                    <img class="rounded-circle friends-image" src="/uploads/bird.jpg" width="30" height="30" alt="">
                                </div>
                                <a href="/community/3"><div class="ml-2 h7 fcLink">
                                    Bird
                                </div></a>
                        </div>
                    </div>
                    <div class="card-footer p-2">
                        <div class="d-flex justify-content-center">
                            <div class="ml-2 h7">
                                    <a href="#">Show More Communities...</a>
                            </div>
                        </div>
                        
                    </div>

                </div>