<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3 cards">

            <div class="card">
                <div class="card-body">
                    <div>
                    {{#each profilepic}} 
                        {{!-- <img class="img-thumbnail" width="100%" src="https://picsum.photos/80/80/?random?image=4"> --}}
                      <img class="img-thumbnail" width="100%" src="{{{profilepic}}}">
                    {{/each}}
                    </div>
                    <br>
                    <div class="h5 communityName">
                        {{#each username}}
                        {{username}}
                        {{/each}}
                    </div>
                    <div class="h7 communityInfo">If you're a Shiba lover, Feel free to join us!
                    </div>
                    {{!-- elvis --}}
                    <button type="button" class="btn btn-fposts btn-block btn-sm" data-toggle="modal"
                        data-target="#uploadProfileImg">
                        upload profile picture
                    </button>
                    {{!-- elvis profile img button--}}

                    {{!-- <img src="/uploads/myImage-1557821530526.jpg" style="width:100px; height:auto;"> --}}
                </div>
                <br>
                <ul class="list-group list-group-flush">
                    {{!-- <li class="list-group-item">
                        <div class="h6 text-muted">Category</div>
                        <div class="h5">Dog</div>
                    </li> --}}
                </ul>
            </div>
        </div>
        {{!-- elvis pop up form--}}
        <div class="col-md-8 gedf-main cards">
        
            <div class="modal fade" id="uploadProfileImg" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <h1>Profile Img Upload</h1>
                                <form action="/uploadprofileimg" method="POST" enctype="multipart/form-data">
                                    <div class="file-field input-field">
                                        <div class="btn grey">
                                            <span>File</span>
                                            <input name="myImage" type="file">
                                        </div>
                                        {{!-- <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div> --}}
                                    </div>
                                    <br>
                                    <button type="submit" class="btn">SUBMIT</button><br>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        
        {{!-- elvis --}}
            <!--- \\\\\\\Post-->